NODE_ENV=production
ADMINJS_PORT=3000
COOKIE_DOMAIN=coolestprojects-test.be
API_BASE_URL=https://api.coolestprojects-test.be

DB_DIALECT=mysql
DB_HOST=
DB_PORT=3306
DB_NAME=coolestproject
DB_USER=db35161
DB_PASSWORD=

ADMINJS_COOKIE_SECRET=
