NODE_ENV=production
API_PORT=3001
API_BASE_URL=https://api.coolestprojects-test.be
COOKIE_DOMAIN=coolestprojects-test.be
CORS_ORIGINS=https://registration.coolestprojects-test.be,https://voting.coolestprojects-test.be,https://eventguide.coolestprojects-test.be
REGISTRATION_URL=https://registration.coolestprojects-test.be
WEBSITE_URL=https://coolestprojects.be
UPLOAD_ROOT=./uploads
CRON_JOB=*/1 * * * *

DB_DIALECT=mysql
DB_HOST=
DB_PORT=3306
DB_NAME=db35161
DB_USER=db35161
DB_PASSWORD=
DB_SYNC_ALTER=true

JWT_KEY=
VOTING_KEY=
CSRF_SECRET=
ADMINJS_COOKIE_SECRET=

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=Coolest Project <info@coolestprojects.be>
SMTP_SECURE=true
